
body
{
 	 padding-top: 0px;
	 background-image: url("../images/wallRegister.jpg");
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form
{
   float:center;
   padding-top: 15px;
   cursor:pointer;
   display:block;
   width:350px;
   margin:auto;
   text-align:left;
   align-content: center;
   position: center;
}

label
{
	color: white;
}

h1
{
	color: black;
}

#hoja
{
    float:center;
	margin:auto;
	margin-top: 30px;
	background: rgb(128,128,64);
	width:450px;
	height: 515px;
	border-radius: 10px;
}